streamlit==1.39.0
pandas==2.2.2
requests==2.32.3
numpy==1.26.4
av==11.0.0
aiortc==1.9.0
streamlit-webrtc==0.47.9
opencv-python-headless==4.10.0.84
tensorflow==2.16.1
tf-keras==2.16.0
deepface==0.0.93
